// #region </МИКСИНЫ>

@use "sass:math";
@import "mixins";

// #endregion

// #region <ШРИФТЫ>

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

// #endregion

// #region <ПЕРЕМЕННЫЕ>

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer + 12;
$md2: 1280;
$md3: 1000;
$md4: 768;
$md5: 480;
$md6: 375;

$mainColor: #fff;

// #endregion

// #region <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>

@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}

// #endregion

// #region <ОБОЛОЧКА>

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: #515151;
	padding-left: 8.334%;
	padding-top: 7px;
	&._loaded {
	}

	@media (max-width: $md4+px) {
		padding-left: 0;
	}
}

// #endregion

// #region <ОСНОВНАЯ СЕТКА>

._container {
	padding: 0px 9.091%;
	@media (max-width: $md4+px) {
		padding: 0px 20px;
	}
}

// #endregion

// #region <ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>

@import "forms";
@import "ui";

// #endregion

// #region <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>

//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";

// #endregion

// #region <ОСНОВНОЙ БЛОК>

.page {
	flex: 1 1 auto;
	background-color: #141414;
	width: 100%;
	height: 100%;
}
.block {
	background-color: #303030;
	font-size: 30px;
	line-height: 85px;
	margin: 0px 0px 30px 0px;
}

// #endregion
